rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return signedIn() && request.auth.uid == userId;
    }

    function isAdmin() {
      return request.auth.token.email in [
        "gekansh2008@gmail.com"
      ];
    }

    match /journal/{userId}/{fileName} {
      allow read, write: if isOwner(userId) || isAdmin();
    }

    match /profiles/{userId}/{fileName} {
      allow read, write: if isOwner(userId) || isAdmin();
    }
  }
}
